<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"?>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SoundCloud Description</title>
    <link rel="stylesheet" href="https://noahscholfield.com/css/bootstrap-yeti.min.css">
    <script data-cfasync="false" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script data-cfasync="false" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.5/angular-sanitize.min.js"></script>
    <script data-cfasync="false" src="soundcloud.js"></script>
  </head>
  <body ng-app="soundcloud">
    <div class="jumbotron">
      <div class="container">
        <h1>SoundCloud Description</h1>
      </div>
    </div>
    <div class="container" ng-controller="descriptionController as descriptionCtrl">
      <form ng-submit="descriptionCtrl.submit()">
        <h3>Get Description</h3>
        <fieldset>
          <div class="form-group" ng-class="{'has-error': descriptionCtrl.trackJSON.code === 404}">
            <label for="url">Track URL</label>
            <input class="form-control" type="url" name="url" ng-model="descriptionCtrl.url">
          </div>
        </fieldset>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-default" type="reset">Clear</button>
          </div>
      </form>
      <section ng-show="descriptionCtrl.trackJSON">
        <div ng-show="descriptionCtrl.trackJSON.error">
          <h4 class="text-danger">{{descriptionCtrl.trackJSON.error}}</h4>
          <code>Error {{descriptionCtrl.trackJSON.code}}</code>
        </div>
        <div ng-hide="descriptionCtrl.trackJSON.error">
          <div>
            <h3>{{descriptionCtrl.trackJSON.title}}</h3>
            <h4>by
              <a target="_blank" href="{{descriptionCtrl.trackJSON.user.permalink_url}}">{{descriptionCtrl.trackJSON.user.username}}</a>
            </h4>
            <h6>
              <a target="_blank" href="{{descriptionCtrl.trackJSON.purchase_url}}">{{descriptionCtrl.trackJSON.purchase_title}}</a>
            </h6>
          </div>
            <hr>
          <p ng-repeat="paragraph in descriptionCtrl.html track by $index" ng-bind-html="paragraph"></p>
          <br>
        <button class="btn btn-primary" ng-click="descriptionCtrl.toggleJSON()">View All Track Info</button>
          <pre ng-show="descriptionCtrl.showJSON">
            <code>{{descriptionCtrl.trackJSON | json}}</code>
          </pre>
        </div>
      </section>
    </div>
  </body>
</html>
